.dropshadow{
	-ms-box-shadow: 0px 3px 5px #444444 !important;
-moz-box-shadow: 0px 3px 5px #444444 !important;
-webkit-box-shadow: 0px 3px 5px #444444 !important;
box-shadow: 0px 3px 5px #444444 !important;
}.dropshadow{
	-ms-box-shadow: 0px 3px 5px #444444 !important;
-moz-box-shadow: 0px 3px 5px #444444 !important;
-webkit-box-shadow: 0px 3px 5px #444444 !important;
box-shadow: 0px 3px 5px #444444 !important;
}.dropshadow{
	-ms-box-shadow: 0px 3px 5px #444444 !important;
-moz-box-shadow: 0px 3px 5px #444444 !important;
-webkit-box-shadow: 0px 3px 5px #444444 !important;
box-shadow: 0px 3px 5px #444444 !important;
}.dropshadow{
	-ms-box-shadow: 0px 3px 5px #444444 !important;
-moz-box-shadow: 0px 3px 5px #444444 !important;
-webkit-box-shadow: 0px 3px 5px #444444 !important;
box-shadow: 0px 3px 5px #444444 !important;
}.dropshadow{
	-ms-box-shadow: 0px 3px 5px #444444 !important;
-moz-box-shadow: 0px 3px 5px #444444 !important;
-webkit-box-shadow: 0px 3px 5px #444444 !important;
box-shadow: 0px 3px 5px #444444 !important;
}